
	<div class="header">
		<div class="top-header" id="nav-fix">
			<div class="logo-top">
				<img src="assets/images/01_home.png" alt="image-logo">
			</div>

			<span class="icon-open" id="open" style="display: none;"><i class="pe-7s-keypad" style="color:#fff"></i></span>
			<div class="header-menu" id="menu-mobile">
				<span class="icon-close" id="close"><i class="pe-7s-close" style="color:#fff"></i></span>
				<ul>
					<li><a href="#">home</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">our project</a></li>
					<li><a href="#">services</a></li>
					<li><a href="#">Pricing</a></li>
				</ul>
			</div>
		</div>
	</div> <!-- header -->
	<div class="main-content">
		<div class="banner-slider">
			<div class="owl-carousel owl-theme owl-loaded" data-nav="false" data-autoplay="false" data-dots="true" data-loop="true" data-margin="0" data-responsive="{&quot;0&quot;:{&quot;items&quot;:1},&quot;480&quot;:{&quot;items&quot;:1},&quot;768&quot;:{&quot;items&quot;:1},&quot;992&quot;:{&quot;items&quot;:1},&quot;1200&quot;:{&quot;items&quot;:1}}">
				
				
				
			<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2696px, 0px, 0px); transition: all 0s ease 0s; width: 9436px;"><div class="owl-item cloned" style="width: 1348px; margin-right: 0px;"><div class="slide-item">
					<a href="#"><img src="assets/images/01_hcxcxome.png" alt="slider-home"></a>
					<div class="container">
						<div class="content-slider">
							<h2 class="slide-title">Creative Design &amp; Advertising</h2>
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
							<a href="#" class="slide-button search-submit">Learn more</a>
						</div>
					</div>
				</div></div><div class="owl-item cloned" style="width: 1348px; margin-right: 0px;"><div class="slide-item">	
					<a href="#"><img src="assets/images/01_hcxcxome.png" alt="slider-home"></a>
					<div class="container">
						<div class="content-slider">
							<h2 class="slide-title">Creative Design &amp; Advertising</h2>
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
							<a href="#" class="slide-button search-submit">Learn more</a>
						</div>
					</div>
				</div></div><div class="owl-item active item-first item-last" style="width: 1348px; margin-right: 0px;"><div class="slide-item ">		
					<a href="#"><img src="assets/images/01_hcxcxome.png" alt="slider-home"></a>
					<div class="container">
						<div class="content-slider">
							<h2 class="slide-title">Creative Design &amp; Advertising</h2>
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
							<a href="#" class="slide-button search-submit">Learn more</a>
						</div>
					</div>
				</div></div><div class="owl-item" style="width: 1348px; margin-right: 0px;"><div class="slide-item">
					<a href="#"><img src="assets/images/01_hcxcxome.png" alt="slider-home"></a>
					<div class="container">
						<div class="content-slider">
							<h2 class="slide-title">Creative Design &amp; Advertising</h2>
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
							<a href="#" class="slide-button search-submit">Learn more</a>
						</div>
					</div>
				</div></div><div class="owl-item" style="width: 1348px; margin-right: 0px;"><div class="slide-item">	
					<a href="#"><img src="assets/images/01_hcxcxome.png" alt="slider-home"></a>
					<div class="container">
						<div class="content-slider">
							<h2 class="slide-title">Creative Design &amp; Advertising</h2>
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
							<a href="#" class="slide-button search-submit">Learn more</a>
						</div>
					</div>
				</div></div><div class="owl-item cloned" style="width: 1348px; margin-right: 0px;"><div class="slide-item ">		
					<a href="#"><img src="assets/images/01_hcxcxome.png" alt="slider-home"></a>
					<div class="container">
						<div class="content-slider">
							<h2 class="slide-title">Creative Design &amp; Advertising</h2>
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
							<a href="#" class="slide-button search-submit">Learn more</a>
						</div>
					</div>
				</div></div><div class="owl-item cloned" style="width: 1348px; margin-right: 0px;"><div class="slide-item">
					<a href="#"><img src="assets/images/01_hcxcxome.png" alt="slider-home"></a>
					<div class="container">
						<div class="content-slider">
							<h2 class="slide-title">Creative Design &amp; Advertising</h2>
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
							<a href="#" class="slide-button search-submit">Learn more</a>
						</div>
					</div>
				</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;"><i class="material-icons"></i></div><div class="owl-next" style="display: none;"> <i class="material-icons"></i></div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div></div>
		</div> <!-- banner-slider -->
		<div class="features">
			<div class="backgroud"></div>
			<div class="container">	
				<div class="title-feature">
						<h6>features</h6>
						<h4>We Provide Awesome Services</h4>
				</div>
				<div class="slider-feature">
						<div class="owl-carousel owl-theme owl-loaded" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="50" data-responsive="{&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2},&quot;650&quot;:{&quot;items&quot;:2},&quot;800&quot;:{&quot;items&quot;:2},&quot;992&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:4}}">
							
							
							
							
						<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1190px, 0px, 0px); transition: all 0s ease 0s; width: 3570px;"><div class="owl-item cloned" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features design">
									<i class="pe-7s-browser" aria-hidden="true"></i>
								</div>	
								<p>Website Design</p>
								<h5 class="design">Market Statics Growth &amp; Advance </h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item cloned" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features setting">
									<i class="pe-7s-config" aria-hidden="true"></i>
								</div>	
								<p>Website Development</p>
								<h5 class="setting">Free Consultation &amp; Bank Loan as</h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item cloned" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features star">
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</div>	
								<p>Online Marketing</p>
								<h5 class="star">Targeted Audience &amp; Alexays Rank </h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item cloned" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features phone">
									<i class="fa fa-mobile" aria-hidden="true"></i>
								</div>	
								<p>Online Marketing</p>
								<h5 class="phone">Market Statics Growth &amp; Advance</h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item active item-first" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features design">
									<i class="pe-7s-browser" aria-hidden="true"></i>
								</div>	
								<p>Website Design</p>
								<h5 class="design">Market Statics Growth &amp; Advance </h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item active" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features setting">
									<i class="pe-7s-config" aria-hidden="true"></i>
								</div>	
								<p>Website Development</p>
								<h5 class="setting">Free Consultation &amp; Bank Loan as</h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item active" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features star">
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</div>	
								<p>Online Marketing</p>
								<h5 class="star">Targeted Audience &amp; Alexays Rank </h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item active item-last" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features phone">
									<i class="fa fa-mobile" aria-hidden="true"></i>
								</div>	
								<p>Online Marketing</p>
								<h5 class="phone">Market Statics Growth &amp; Advance</h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item cloned" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features design">
									<i class="pe-7s-browser" aria-hidden="true"></i>
								</div>	
								<p>Website Design</p>
								<h5 class="design">Market Statics Growth &amp; Advance </h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item cloned" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features setting">
									<i class="pe-7s-config" aria-hidden="true"></i>
								</div>	
								<p>Website Development</p>
								<h5 class="setting">Free Consultation &amp; Bank Loan as</h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item cloned" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features star">
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</div>	
								<p>Online Marketing</p>
								<h5 class="star">Targeted Audience &amp; Alexays Rank </h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div><div class="owl-item cloned" style="width: 247.5px; margin-right: 50px;"><div class="slide-item">	
								<div class="icon-features phone">
									<i class="fa fa-mobile" aria-hidden="true"></i>
								</div>	
								<p>Online Marketing</p>
								<h5 class="phone">Market Statics Growth &amp; Advance</h5>
								<a href="#" class="learn-feature">Learn <i class="material-icons"></i></a>
							</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="material-icons"></i></div><div class="owl-next" style=""> <i class="material-icons"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
				</div>			
			</div>	
		</div> <!-- features -->
		<div class="about-us">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<div class="Information-about-us about-us1">
							<h6>about us</h6>
							<h4>Best Online Agency  Since 2009</h4>
							<p>Laser is a group of geeks who love developing innovative products and delivering them to millions of user. What drive us is passion, technology and perfection.</p>
							<ul class="list-about-us">
								<li><a href="#">Website Design</a></li>
								<li><a href="#">Mobile Applications</a></li>
								<li><a href="#">Online Marketing</a></li>
								<li><a href="#">Finance Service</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<div class="images-about-us">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="image-about-us">
									<a href="#"><img src="assets/images/1_home-1.png" alt="image about us"></a>
								</div>
								<div class="image-about-us">
									<a href="#"><img src="assets/images/home-4.png" alt="image about us"></a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="image-about-us">
									<a href="#"><img src="assets/images/home-3.png" alt="image about us"></a>
								</div>
								<div class="image-about-us">
									<a href="#"><img src="assets/images/home-5.png" alt="image about us"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- about-us -->
		<div class="projects">
			<div class="view-all-projects">
				<span><i class="pe-7s-keypad"></i>view all projects</span>
			</div>
			<div class="title-about-project">
				<h6>our work</h6>
				<h4>Recent Projects</h4>
			</div>
			<div class="slide-project">
				<div class="owl-carousel owl-theme owl-loaded" data-autowidth="true" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="50" data-responsive="{&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:1},&quot;650&quot;:{&quot;items&quot;:2},&quot;800&quot;:{&quot;items&quot;:3},&quot;992&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:4}}">
					
					
					
					
				<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1368px, 0px, 0px); transition: all 0s ease 0s; width: 4104px;"><div class="owl-item cloned" style="width: 292px; margin-right: 50px;"><div class="slide-item">						
						<div class="box-images">
							<a href="#"><img src="assets/images/1.jpg" alt="image project"></a>
						</div>
						<div class="information-project">
							<h6>Ecommerce Website</h6>
							<p>Web design</p>
						</div>				
					</div></div><div class="owl-item cloned" style="width: 292px; margin-right: 50px;"><div class="slide-item">	
						<div class="information-project">
							<p>Mobile app</p>
							<h6>Mobile Application</h6>
							
						</div>					
						<div class="box-images">
							<a href="#"><img src="assets/images/2.jpg" alt="image project"></a>
						</div>								
					</div></div><div class="owl-item cloned" style="width: 292px; margin-right: 50px;"><div class="slide-item">
						<div class="information-project">
							<p>Web design</p>
							<h6>Fashion Website</h6>
							
						</div>						
						<div class="box-images">
							<a href="#"><img src="assets/images/3.jpg" alt="image project"></a>
						</div>				
					</div></div><div class="owl-item cloned" style="width: 292px; margin-right: 50px;"><div class="slide-item">						
						<div class="box-images">
							<a href="#"><img src="assets/images/4.jpg" alt="image project"></a>
						</div>
						<div class="information-project">
							<h6>Education Website</h6>
							<p>Web design</p>
						</div>				
					</div></div><div class="owl-item active item-first" style="width: 292px; margin-right: 50px;"><div class="slide-item">						
						<div class="box-images">
							<a href="#"><img src="assets/images/1.jpg" alt="image project"></a>
						</div>
						<div class="information-project">
							<h6>Ecommerce Website</h6>
							<p>Web design</p>
						</div>				
					</div></div><div class="owl-item active" style="width: 292px; margin-right: 50px;"><div class="slide-item">	
						<div class="information-project">
							<p>Mobile app</p>
							<h6>Mobile Application</h6>
							
						</div>					
						<div class="box-images">
							<a href="#"><img src="assets/images/2.jpg" alt="image project"></a>
						</div>								
					</div></div><div class="owl-item active" style="width: 292px; margin-right: 50px;"><div class="slide-item">
						<div class="information-project">
							<p>Web design</p>
							<h6>Fashion Website</h6>
							
						</div>						
						<div class="box-images">
							<a href="#"><img src="assets/images/3.jpg" alt="image project"></a>
						</div>				
					</div></div><div class="owl-item active item-last" style="width: 292px; margin-right: 50px;"><div class="slide-item">						
						<div class="box-images">
							<a href="#"><img src="assets/images/4.jpg" alt="image project"></a>
						</div>
						<div class="information-project">
							<h6>Education Website</h6>
							<p>Web design</p>
						</div>				
					</div></div><div class="owl-item cloned" style="width: 292px; margin-right: 50px;"><div class="slide-item">						
						<div class="box-images">
							<a href="#"><img src="assets/images/1.jpg" alt="image project"></a>
						</div>
						<div class="information-project">
							<h6>Ecommerce Website</h6>
							<p>Web design</p>
						</div>				
					</div></div><div class="owl-item cloned" style="width: 292px; margin-right: 50px;"><div class="slide-item">	
						<div class="information-project">
							<p>Mobile app</p>
							<h6>Mobile Application</h6>
							
						</div>					
						<div class="box-images">
							<a href="#"><img src="assets/images/2.jpg" alt="image project"></a>
						</div>								
					</div></div><div class="owl-item cloned" style="width: 292px; margin-right: 50px;"><div class="slide-item">
						<div class="information-project">
							<p>Web design</p>
							<h6>Fashion Website</h6>
							
						</div>						
						<div class="box-images">
							<a href="#"><img src="assets/images/3.jpg" alt="image project"></a>
						</div>				
					</div></div><div class="owl-item cloned" style="width: 292px; margin-right: 50px;"><div class="slide-item">						
						<div class="box-images">
							<a href="#"><img src="assets/images/4.jpg" alt="image project"></a>
						</div>
						<div class="information-project">
							<h6>Education Website</h6>
							<p>Web design</p>
						</div>				
					</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="material-icons"></i></div><div class="owl-next" style=""> <i class="material-icons"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
			</div>	
		</div> <!-- projects -->
		<div class="clients">
			<div class="title-client">
				<img src="assets/images/client.png" alt="client">
				<h4>What’s Our Clients Say </h4>
			</div>
			<div class="owl-carousel owl-theme owl-loaded" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive="{&quot;0&quot;:{&quot;items&quot;:1},&quot;480&quot;:{&quot;items&quot;:1},&quot;768&quot;:{&quot;items&quot;:1},&quot;992&quot;:{&quot;items&quot;:1},&quot;1200&quot;:{&quot;items&quot;:1}}">
				
				
				
					
			<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1348px, 0px, 0px); transition: all 0s ease 0s; width: 5392px;"><div class="owl-item cloned" style="width: 674px; margin-right: 0px;"><div class="slide-item">		
					<div class="content-client">
						<a href="#">
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
						</a>
						<h6 class="name-client"><a href="#"> Mr. ba </a></h6>
						<div class="category"><a href="#"> Senior Designer, Laser. </a></div>
					</div>
				</div></div><div class="owl-item cloned" style="width: 674px; margin-right: 0px;"><div class="slide-item">		
					<div class="content-client">
						<a href="#">
							<p>Une saveur puissante de classic brun épicé Disponible
								en 0mg - 6 mg - 11mg - 16mgElaboré en France par Gaiatrend
								PG/VG: 80/20.
							</p>
						</a>
						<h6 class="name-client"><a href="#"> Mr. ha </a></h6>
						<div class="category"><a href="#"> Senior Designer, Laser. </a></div>
					</div>
				</div></div><div class="owl-item active item-first item-last" style="width: 674px; margin-right: 0px;"><div class="slide-item">		
					<div class="content-client">
						<a href="#">
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
						</a>
						<h6 class="name-client"><a href="#"> Mr. Lee </a></h6>
						<div class="category"><a href="#"> Senior Designer, Laser. </a></div>
					</div>
				</div></div><div class="owl-item" style="width: 674px; margin-right: 0px;"><div class="slide-item">		
					<div class="content-client">
						<a href="#">
							<p>Interactively visualize innovative infomediaries after fully 
								tested strategic theme areas. Quickly supply fully tested benefits 
								through market-driven technologies. 
							</p>
						</a>
						<h6 class="name-client"><a href="#"> miss ma </a></h6>
						<div class="category"><a href="#"> Senior Designer, Laser. </a></div>
					</div>
				</div></div><div class="owl-item" style="width: 674px; margin-right: 0px;"><div class="slide-item">		
					<div class="content-client">
						<a href="#">
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
						</a>
						<h6 class="name-client"><a href="#"> Mr. ba </a></h6>
						<div class="category"><a href="#"> Senior Designer, Laser. </a></div>
					</div>
				</div></div><div class="owl-item" style="width: 674px; margin-right: 0px;"><div class="slide-item">		
					<div class="content-client">
						<a href="#">
							<p>Une saveur puissante de classic brun épicé Disponible
								en 0mg - 6 mg - 11mg - 16mgElaboré en France par Gaiatrend
								PG/VG: 80/20.
							</p>
						</a>
						<h6 class="name-client"><a href="#"> Mr. ha </a></h6>
						<div class="category"><a href="#"> Senior Designer, Laser. </a></div>
					</div>
				</div></div><div class="owl-item cloned" style="width: 674px; margin-right: 0px;"><div class="slide-item">		
					<div class="content-client">
						<a href="#">
							<p>Awesome is the most user-friendly Page Builder in town!  
								No designer or developer skills required because the only 
								tools you'll need to master are click and drag.
							</p>
						</a>
						<h6 class="name-client"><a href="#"> Mr. Lee </a></h6>
						<div class="category"><a href="#"> Senior Designer, Laser. </a></div>
					</div>
				</div></div><div class="owl-item cloned" style="width: 674px; margin-right: 0px;"><div class="slide-item">		
					<div class="content-client">
						<a href="#">
							<p>Interactively visualize innovative infomediaries after fully 
								tested strategic theme areas. Quickly supply fully tested benefits 
								through market-driven technologies. 
							</p>
						</a>
						<h6 class="name-client"><a href="#"> miss ma </a></h6>
						<div class="category"><a href="#"> Senior Designer, Laser. </a></div>
					</div>
				</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="material-icons"></i></div><div class="owl-next" style=""> <i class="material-icons"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
		</div> <!-- clients -->
		<div class="blog">
			<div class="container">
				<div class="title-blog">
					<h6>our work</h6>
					<h4>Company News</h4>
				</div> 
				<div class="row">
					<div class="content-blog">
						<div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="box-blog">
								<div class="box-images">
									<a href="#"><img src="assets/images/01_hfdgsdfgome.png" alt="image blog"></a>
								</div>
								<div class="information-blog">
									<p>08 Jan, 2019</p>
									<h5><a href="#">The World Best Wordpress Website Builder. </a></h5>
								</div>
							</div>				
						</div>					
						<div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="box-blog">
								<div class="box-images">
									<a href="#"><img src="assets/images/01_hfdgsdfgome.png" alt="image blog"></a>
								</div>
								<div class="information-blog">
									<p>08 Jan, 2019</p>
									<h5><a href="#">The World Best Wordpress Website Builder. </a></h5>
								</div>
							</div>				
						</div>					
						<div class=" col-lg-4 col-md-4 col-sm-6 col-col-xs-12">
							<div class="box-blog">
								<div class="box-images">
									<a href="#"><img src="assets/images/gdgfme.png" alt="image blog"></a>
								</div>
								<div class="information-blog">
									<p>08 Jan, 2019</p>
									<h5><a href="#">The World Best Wordpress Website Builder. </a></h5>
								</div>
							</div>				
						</div>
					</div>
				</div>
			</div>		
		</div> <!-- blog -->
		<div class="newsletter">
			<div class="title-client">
				<i class="pe-7s-mail" aria-hidden="true"></i>
				<h4>Subscribe Our Newsletter</h4>
				<p>Subscribe to our newsletter &amp; stay updated</p>
			</div>
			<div class="search">
				<form class="search-newsletter" action="index.html">
					<i class="pe-7s-mail" aria-hidden="true"></i>
					<input type="text" placeholder="Your-Email" name="search">
					<button class="search-submit" type="submit">Submit</button>
				</form>
			</div>	
		</div> <!-- clients -->
	</div> <!-- main-content -->
	<div class="footer">
		<img src="assets/images/Layer 1.png" alt="map">
		<div class="container">
			<div class="menu-footer">
				<div class="service col-lg-3 col-md-3 col-sm-6 col-sx-12">
		            <h5 class="menu-title">service</h5>
		            <div class="footer-custommenu">
		                <ul class="menu">
		                    <li class="menu-item"><a href="#">Web Design</a></li>
		                    <li class="menu-item"><a href="#">Development</a></li>
		                    <li class="menu-item"><a href="#">Wordpress</a></li>
		                    <li class="menu-item"><a href="#">Online Marketing</a></li>
		                    <li class="menu-item"><a href="#">Content</a></li>
		                </ul>
		            </div>
		        </div>
		        <div class="footer-about-us col-lg-3 col-md-3 col-sm-6 col-sx-12">
		            <h5 class="menu-title">about us</h5>
		            <div class="footer-custommenu">
		                <ul class="menu">
		                    <li class="menu-item"><a href="#">bout Us</a></li>
		                    <li class="menu-item"><a href="#">Portfolio</a></li>
		                    <li class="menu-item"><a href="#">Team</a></li>
		                    <li class="menu-item"><a href="#">Plan &amp; Pricing</a></li>
		                    <li class="menu-item"><a href="#">News</a></li>
		                </ul>
		            </div>
		        </div>
		        <div class="folow-Us col-lg-3 col-md-3 col-sm-6 col-sx-12">
		            <h5 class="menu-title">Folow Us</h5>
		            <div class="footer-custommenu">
		                <ul class="menu">
		                    <li class="menu-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
		                    <li class="menu-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkin</a></li>
		                    <li class="menu-item"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i>Pinterest</a></li>
		                    <li class="menu-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
		                    <li class="menu-item"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i>Skype</a></li>
		                </ul>
		            </div>
		        </div>
			</div>
		</div>
		<div class="copyright">
			<span>© <span> 2019 </span>Copyright Awesome - All Rights Reserved</span>
		</div>
	</div><!-- footer -->
		<a href="#" id="backtotop" style="display: none;">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</a>
		<script type="text/javascript" src="assets/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<script type="text/javascript" src="assets/js/jquery.scrollbar.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery-ui.js"></script>
		<script type="text/javascript" src="assets/js/function.js"></script>

</body>